# Ignore everything except project/
AGENTS.md
AUTHORS
bindings/
build/
build-support/
chANGES.md
CLAUDE.md
cmake-cache/
CMakeLists.txt
CMakePresets.json.in
CODE_OF_CONDUCT.md
contrib/
CONTRIBUTING.md
doc/
examples/
LICENSE
LICENSES/
ns3
pyproject.toml
README.md
RELEASE_NOTES.md
scratch/
setup.cfg
setup.py
src/
test.py
third-party/
utils/
utils.py
VERSION

*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt

\#*#
*~

testpy-output

bindings/python/pybindgen/

venv/

ms_print.*
massif.*
coverity
TAGS

.lock-ns3_*
.ns3rc

build-dir/
build/
/.cproject
/.project

version.cache

.gitlab-ci-local/
.idea/
cmake-*/
vcpkg/

.vs/

# Ignore local cache used by e.g. clangd
.cache/
